---
import Button from "./Button.astro";
import Email from "./icons/Email.astro";
import Instagram from "./icons/Instagram.astro";
import TikTok from "./icons/TikTok.astro";
import WhatsApp from "./icons/WhatsApp.astro";
---

<footer>
  <div class="footer-principal">
    <picture>
      <img src="../../img/logo-footer.png" alt="">
    </picture>

    <section class="social-media">
      <h3>Redes</h3>
      <div class="instagram">
        <Instagram class="logo"/>
        <span>Instagram</span>
      </div>
      <div class="tiktok">
        <TikTok class="logo"/>
        <span>TikTok</span>
      </div>
    </section>

    <section class="contact">
      <h3>Contacto</h3>
      <div class="email">
        <Email />
        <span>myenglishlessons@gmail.com</span>
      </div>
      <div class="whatsapp">
        <WhatsApp />
        <span>WhatsApp</span>
      </div>
    </section>
  </div>

  <form class="subscribe">
    <p>Subscribite con tu correo electrónico para estar al tanto de todas nuestras novedades.</p>
    <div>
      <input type="email" placeholder="myenglishlesons@gmail.com">
      <Button textBtn="Suscribirse" class="btn"/>
    </div>
  </form>

  <div class="copyright">
    <span>Copyright (C) 2025 © My English Lessons</span>
  </div>
</footer>

<style>

  img {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

</style>